<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
		<title>{{name}}</title>
  </head>
  <body>
	<navbar>

	</navbar>
	<main>
    	{{{rendered}}}
	</main>
	<footer>

	</footer>
  </body>
</html>